<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrower List</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="navbar" id="background-1">
        <div class="logo">
            <img src="../static/images/CIT Logo.png" alt="" style="height: 130px; width: 100px;">
        </div>
        <div style="margin: auto;">
            <h1>Calvin Library</h1>
        </div>
        <div class="button-1">
            <form action="logout">
                <input type="submit" value="logout" style="height: 50px; width: 150px; font-size: x-large;">
            </form>
            <form action="staff">
                <input type="submit" value="back" style="height: 50px; width: 150px; font-size: x-large;">
            </form>
        </div>
    </div>
    <h1 style="font-size: xx-large; text-align: center;">Daftar Peminjaman</h1>
    <table class="borrow-table">
        <tr>
            <th>ID Mahasiswa</th>
            <th>Kode Buku</th>
            <th>Tanggal Peminjaman</th>
            <th>Tanggal Pengembalian</th>
            <th>Denda</th>
        </tr>
        {% for borrow in borrow_list %}
            <tr>
                <td>{{ borrow.id_mahasiswa }}</td>
                <td>{{ borrow.kode_buku }}</td>
                <td>{{ borrow.tanggal_peminjaman }}</td>
                <td>{{ borrow.tanggal_pengembalian }}</td>
                <td>{{ borrow.denda }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>