<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header class="navbar" id="background-1">
        <div class="logo">
            <img src="../static/images/CIT Logo.png" alt="" style="height: 130px; width: 100px;">
        </div>
        <div style="margin: auto;">
            <h1>Calvin Library</h1>
        </div>
        <div class="logo">
            <img src="../static/images/CIT Logo.png" alt="" style="height: 130px; width: 100px;">
        </div>
        </div>
    </header>
    <div class="login-box" id="background-2">
        <h1>Login</h1>
        <form action="login" method="POST">
            <table class="login-table">
                <tr>
                    <td>
                        <h2>Username :</h2>
                    </td>
                    <td><input type="text" name="username" style="width: 160px; height: 35px; font-size: larger;"></td>
                </tr>
                <tr>
                    <td>
                        <h2>Password :</h2>
                    </td>
                    <td><input type="password" name="password" style="width: 160px; height: 35px; font-size: larger;"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="login" style="width: 160px; height: 35px;"></td>
                </tr>
            </table>
        </form>
    </div>   
</body>

</html>