<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="navbar" id="background-1">
        <div class="logo">
            <img src="../static/images/CIT Logo.png" alt="" style="height: 130px; width: 100px;">
        </div>
        <div style="margin: auto;">
            <h1>Calvin Library</h1>
        </div>
        <div class="button-1">
            <form action="logout">
                <input type="submit" value="logout" style="height: 50px; width: 150px; font-size: x-large;">
            </form>
        </div>
    </div>
    <div id="background-2" class="staff-board">
        <h1 style="font-size: xx-large; text-align: center;">Staff Page</h1>
        <table>
            <tr>
                <th>
                    <form action="registration_page"><input type="submit" value="Registration"
                            style="height: 50px; width: 150px; font-size: x-large;"></form>
                </th>
                <th>
                    <form action="borrow_page"><input type="submit" value="Pinjam"
                            style="height: 50px; width: 150px; font-size: x-large;"></form>
                </th>
                <th>
                    <form action="return_book_page"><input type="submit" value="Return"
                            style="height: 50px; width: 150px; font-size: x-large;"></form>
                </th>
                <th>
                    <form action="borrow_list"><input type="submit" value="List Peminjaman"
                            style="height: 50px; width: 200px; font-size: x-large;"></form>
                </th>
            </tr>
        </table>
    </div>
</body>

</html>